- name: SonarQube Scan
  uses: SonarSource/sonarcloud-github-action@v2
  env:
    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  with:
    args: >
      -Dsonar.organization=adarshgiri10-del
      -Dsonar.projectKey=adarshgiri10-del_demo-project
